.fa:hover {
    text-decoration: none;
}
.fa {
    font-size:48px;
    text-align: center;
    display:block;
    line-height: 100px;
    color:#ffffff;
}
.fa.active {
    background:#007bff;
    
}
.fa.matched {
   
    background-color: #28a745;
    border-color: #28a745;
    
}