.fa:hover {
    text-decoration: none;
}
.fa {
    font-size:32px;
    text-align: center;
    display:block;
    line-height: 100px;
}
.fa.active {
    background:#007bff;
    color:#ffffff;
}
.fa.matched {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}